<div class="p-3 border-top border-bottom border-secondary">
  <form
    #itemPrice="ngForm"
    class="price-range-form"
    (ngSubmit)="handleFilterByPrice(itemPrice)"
    novalidate
  >
    <div class="d-flex">
      <div class="p-2">
        <input
          type="text"
          name="fromPrice"
          ngModel
          placeholder="From"
          id="fromPrice"
          #fromPrice="ngModel"
          class="form-control"
        />
      </div>

      <div class="p-2">
        <input
          type="text"
          ngModel
          name="toPrice"
          id="toPrice"
          placeholder="To"
          #toPrice="ngModel"
          class="form-control"
        />
      </div>
    </div>

    <br />
    <button class="btn btn-primary btn-block btn-sm">Filter By Price</button>
  </form>
</div>
